.main{
    display: flex;
    justify-content: center;
}
.box{
    text-align:left;
    width: 320px;
    height: 235px;
    background-color: rgba(255, 166, 0, 0.682);
    padding: 12px;
    border-radius: 15px;
}
img{
    max-width: 100%;
    height: auto;
   border-radius: 10px;
}