h1{
    font-family: 'Oswald';
    font-size: 75px;
    display: flex;
    justify-content: center;
    color: rgb(80, 80, 80);
    padding-top: 0px;
    margin-top: 50px;
    margin-bottom: 0px;
}
img{
    max-width: 65%;
    height: 20%;
}
p{
    font-family: 'montserrat';
}
.content{
    text-align: center;
}